*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 30%;
  }
}
@media (min-width: 1800px) {
  html {
    font-size: 75%;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #F7F7F7;
}

@-webkit-keyframes leftToRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes leftToRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes rightToLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes rightToLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes btnAnimation {
  0% {
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes btnAnimation {
  0% {
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes btnAnimationLink {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes btnAnimationLink {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #777777;
}
@media (max-width: 1200px) {
  body {
    font-size: 1.4rem;
  }
}

.title-first {
  color: #FFFFFF;
}
.title-first__main {
  display: block;
  text-transform: uppercase;
  font-size: 5.3rem;
  line-height: 6.2rem;
  letter-spacing: 1rem;
  font-weight: 900;
  margin-bottom: 1rem;
  -webkit-animation: leftToRight 2s ease-in 0.5s;
          animation: leftToRight 2s ease-in 0.5s;
}
@media (max-width: 1200px) {
  .title-first__main {
    font-size: 4rem;
  }
}
.title-first__subtitle {
  display: block;
  text-transform: lowercase;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: 5px;
  font-weight: 100;
  -webkit-animation: rightToLeft 2s ease-in 0.5s;
          animation: rightToLeft 2s ease-in 0.5s;
  margin-bottom: 5rem;
}
@media (max-width: 1200px) {
  .title-first__subtitle {
    font-size: 3.2rem;
  }
}

.title-secondary {
  text-transform: uppercase;
  font-size: 3.6rem;
  letter-spacing: 1rem;
  font-weight: 900;
  background: -webkit-gradient(linear, left top, right top, color-stop(4%, #BA8554), to(#A14F03));
  background: -o-linear-gradient(left, #BA8554 4%, #A14F03);
  background: linear-gradient(90deg, #BA8554 4%, #A14F03);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1200px) {
  .title-secondary {
    font-size: 3rem;
  }
}
.title-secondary:hover {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transform: scale(1.04);
      -ms-transform: scale(1.04);
          transform: scale(1.04);
}
.title-secondary_white {
  color: #FFFFFF;
}

.title-third {
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .title-third {
    font-size: 1.7rem;
  }
}

.paragraph {
  font-size: 1.6rem;
  line-height: 140%;
  letter-spacing: 0.2rem;
  font-weight: 400;
  overflow-wrap: break-word;
}
@media (max-width: 1200px) {
  .paragraph {
    font-size: 1.4rem;
  }
}

.text-center {
  text-align: center;
}

.block-center {
  margin: 0 auto;
}

.margin-bottom-10px {
  margin-bottom: 1rem;
}

.margin-bottom-30px {
  margin-bottom: 3rem;
}

.margin-bottom-80px {
  margin-bottom: 8rem;
}

.margin-left-20px {
  margin-left: 2rem;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 1200px) {
  .row {
    max-width: 90rem;
  }
}

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.col-1-of-3 {
  width: calc((100% - 6rem * 2) / 3);
}
@media (max-width: 1200px) {
  .col-1-of-3 {
    width: calc((100% - 2rem * 2) / 3);
  }
}

.col-1-of-4 {
  width: calc((100% - 6rem * 3) / 4);
}
@media (max-width: 1200px) {
  .col-1-of-4 {
    width: calc((100% - 2rem * 3) / 4);
  }
}

.col-2-of-3 {
  width: calc(((100% - 6rem * 2) / 3) * 2 + 6rem);
}

.col-2-of-4 {
  width: calc(((100% - 6rem * 3) / 4) * 2 + 6rem);
}

.col-3-of-4 {
  width: calc(((100% - 6rem * 3) / 4) * 3 + 6rem * 2);
}

[class^=col-] {
  float: left;
}
[class^=col-]:not(:last-child) {
  margin-right: 6rem;
  margin-bottom: 8rem;
}
@media (max-width: 1200px) {
  [class^=col-]:not(:last-child) {
    margin-right: 2rem;
  }
}

.header {
  background: -webkit-gradient(linear, left top, right top, color-stop(4%, rgba(186, 133, 84, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../img/header-bg.jpg) center/cover no-repeat;
  background: -o-linear-gradient(left, rgba(186, 133, 84, 0.7) 4%, rgba(0, 0, 0, 0.7) 100%), url(../img/header-bg.jpg) center/cover no-repeat;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 4%, rgba(0, 0, 0, 0.7) 100%), url(../img/header-bg.jpg) center/cover no-repeat;
  height: 100vh;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 85%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 85%);
  padding: 5rem 5rem 8rem;
}
.header__logo {
  width: 5.6rem;
  height: 7rem;
  margin-bottom: 16.6666666667vh;
}
.header__logo a {
  display: inline-block;
}
.header__box {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.footer {
  padding: 8rem 0;
  background: #333333;
  text-align: center;
}
.footer__logo {
  margin-bottom: 5rem;
  width: 12rem;
}
.footer__list {
  list-style: none;
}
.footer__item {
  display: inline-block;
}
.footer__item:not(:last-child) {
  margin-right: 5rem;
}
@media (max-width: 1200px) {
  .footer__item:not(:last-child) {
    margin-right: 4rem;
  }
}
.footer__link {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.footer__link:link, .footer__link:visited {
  display: inline-block;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: transparent;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 0.2rem;
  font-size: 1.6rem;
}
.footer__link:hover, .footer__link:active {
  color: #BA8554;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.navigation__toggle {
  display: none;
}
.navigation__button {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background: #FFFFFF;
  position: fixed;
  top: 5rem;
  right: 5rem;
  z-index: 200;
  text-align: center;
  cursor: pointer;
}
.navigation__background {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: -o-radial-gradient(#BA8554, #A14F03);
  background: radial-gradient(#BA8554, #A14F03);
  position: fixed;
  top: 5.5rem;
  right: 5.5rem;
  z-index: 100;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.navigation__nav {
  width: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 150;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
}
.navigation__item {
  text-align: center;
}
.navigation__item:not(:last-child) {
  margin-bottom: 5rem;
}
@media (max-width: 1200px) {
  .navigation__item:not(:last-child) {
    margin-bottom: 4rem;
  }
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: transparent;
  text-decoration: none;
  font-size: 0rem;
  letter-spacing: 0.5rem;
  font-weight: 300;
  background: -o-linear-gradient(330deg, transparent 50%, #FFFFFF 50%);
  background: linear-gradient(120deg, transparent 50%, #FFFFFF 50%);
  background-size: 225%;
  padding: 1rem 2rem;
  -webkit-transition: background-position 0.3s linear, color 0.3s linear, font-size 0.2s ease-in, -webkit-transform 0.2s linear;
  transition: background-position 0.3s linear, color 0.3s linear, font-size 0.2s ease-in, -webkit-transform 0.2s linear;
  -o-transition: background-position 0.3s linear, color 0.3s linear, transform 0.2s linear, font-size 0.2s ease-in;
  transition: background-position 0.3s linear, color 0.3s linear, transform 0.2s linear, font-size 0.2s ease-in;
  transition: background-position 0.3s linear, color 0.3s linear, transform 0.2s linear, font-size 0.2s ease-in, -webkit-transform 0.2s linear;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #BA8554;
  -webkit-transform: translateX(1rem);
      -ms-transform: translateX(1rem);
          transform: translateX(1rem);
}
.navigation__toggle:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1;
}
.navigation__toggle:checked ~ .navigation__nav > .navigation__list > .navigation__item > .navigation__link {
  font-size: 4rem;
}
@media (max-width: 1200px) {
  .navigation__toggle:checked ~ .navigation__nav > .navigation__list > .navigation__item > .navigation__link {
    font-size: 3rem;
  }
}
.navigation__toggle:checked ~ .navigation__background {
  -webkit-transform: scale(100);
      -ms-transform: scale(100);
          transform: scale(100);
}
.navigation__icon {
  position: relative;
  margin-top: 48%;
}
.navigation__icon, .navigation__icon:before, .navigation__icon::after {
  display: inline-block;
  background: #000000;
  width: 3rem;
  height: 0.2rem;
  left: 0;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
}
.navigation__icon::before {
  top: -1rem;
}
.navigation__icon::after {
  top: 1rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1.2rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1.2rem;
}
.navigation__toggle:checked + .navigation__button .navigation__icon {
  background: transparent;
}
.navigation__toggle:checked + .navigation__button .navigation__icon::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}
.navigation__toggle:checked + .navigation__button .navigation__icon::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  color: #777777;
  background-color: #FFFFFF;
  text-decoration: none;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.4rem;
  font-weight: 500;
  padding: 1.5rem 4rem;
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border: none;
  text-align: right;
}
.btn:hover {
  -webkit-transform: translateY(-0.4rem);
      -ms-transform: translateY(-0.4rem);
          transform: translateY(-0.4rem);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.btn:hover::after {
  -webkit-transform: scale(1.5, 1.7);
      -ms-transform: scale(1.5, 1.7);
          transform: scale(1.5, 1.7);
  opacity: 0;
}
.btn:active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #FFFFFF;
  border-radius: 50px;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.btn_animated {
  -webkit-animation: btnAnimation 0.4s ease-in 0.5s;
          animation: btnAnimation 0.4s ease-in 0.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
.btn_card.btn {
  padding: 1.5rem 2.5rem;
}
@media (max-width: 1200px) {
  .btn_card.btn {
    padding: 1.5rem 1.8rem;
    font-size: 1.8rem;
  }
}
.btn_accent {
  color: #FFFFFF;
  background: #BA8554;
}
.btn_accent::after {
  background: #BA8554;
}

.btn-link:link, .btn-link:visited {
  display: inline-block;
  padding: 1rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: #A14F03;
  border-bottom: 1px #BA8554 solid;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: relative;
}
.btn-link:link::after, .btn-link:visited::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: #BA8554;
  z-index: -1;
}
.btn-link:hover {
  -webkit-transform: translateY(-0.2rem);
      -ms-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  color: #FFFFFF;
}
.btn-link:hover::after {
  -webkit-animation: btnAnimationLink 0.5s linear;
          animation: btnAnimationLink 0.5s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.btn-link:active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.composition {
  position: relative;
}
.composition__photo {
  width: 60%;
  border-radius: 0.5rem;
  position: absolute;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  outline-offset: 1rem;
}
.composition__photo_b1 {
  top: 0;
  left: 2rem;
}
.composition__photo_b2 {
  top: 8rem;
  right: 0;
  z-index: 1;
}
@media (max-width: 1200px) {
  .composition__photo_b2 {
    top: 6rem;
  }
}
.composition__photo_b3 {
  top: 14rem;
  left: 4rem;
  z-index: 2;
}
@media (max-width: 1200px) {
  .composition__photo_b3 {
    top: 11rem;
  }
}
.composition__photo:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  outline: 1rem solid #BA8554;
  z-index: 5;
}
.composition:hover .composition__photo:not(:hover) {
  -webkit-transform: scale(0.85);
      -ms-transform: scale(0.85);
          transform: scale(0.85);
}

.adventure-card {
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 2rem;
  border-radius: 0.5rem;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
@media (max-width: 1200px) {
  .adventure-card {
    padding: 1.7rem;
  }
}
.adventure-card:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.adventure-card__icon {
  display: inline-block;
  font-size: 6rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(4%, #BA8554), to(#A14F03));
  background: -o-linear-gradient(left, #BA8554 4%, #A14F03);
  background: linear-gradient(90deg, #BA8554 4%, #A14F03);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.tour-card {
  position: relative;
  height: 52rem;
  -webkit-perspective: 150rem;
          perspective: 150rem;
}
.tour-card__side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 52rem;
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.tour-card__side_front {
  background: #FFFFFF;
}
.tour-card__side_back {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(4%, #BA8554), to(#A14F03));
  background: -o-linear-gradient(top, #BA8554 4%, #A14F03 100%);
  background: linear-gradient(to bottom, #BA8554 4%, #A14F03 100%);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  padding: 10rem 0;
  text-align: center;
}
.tour-card:hover .tour-card__side_front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.tour-card:hover .tour-card__side_back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
.tour-card__image {
  height: 24rem;
  width: 100%;
  background-blend-mode: hard-light;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 85%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 85%);
}
.tour-card__image_1 {
  background: #BA8554 url(../../img/card-1.jpg) center/cover no-repeat;
}
.tour-card__image_2 {
  background: #BA8554 url(../../img/card-2.jpg) center/cover no-repeat;
}
.tour-card__image_3 {
  background: #BA8554 url(../../img/card-3.jpg) center/cover no-repeat;
}
.tour-card__title {
  font-size: 2.8rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
}
.tour-card__title span {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: -webkit-gradient(linear, left top, right top, color-stop(4%, #BA8554), to(#A14F03));
  background: -o-linear-gradient(left, #BA8554 4%, #A14F03);
  background: linear-gradient(90deg, #BA8554 4%, #A14F03);
  position: absolute;
  right: 0;
}
.tour-card__title span:nth-child(1) {
  padding: 1rem 2rem 0.2rem;
  top: -5rem;
}
.tour-card__title span:nth-child(2) {
  padding: 0.2rem 2rem 1rem;
  top: -1rem;
}
.tour-card__description {
  list-style: none;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: #777777;
  padding: 6rem 0;
}
.tour-card__description li {
  border-bottom: 1px solid #777777;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 18px;
}
.tour-card__description li:last-child {
  margin-bottom: 0;
}
.tour-card__text {
  color: #FFFFFF;
  letter-spacing: 0.2rem;
  margin-bottom: 8rem;
}
.tour-card__text_caption {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 300;
}
.tour-card__text_price {
  font-size: 6rem;
  font-weight: 400;
}

.feedback-card {
  width: 80%;
  background: rgba(255, 255, 255, 0.85);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  padding: 6rem 10rem;
  -webkit-transform: skew(-25deg);
      -ms-transform: skew(-25deg);
          transform: skew(-25deg);
}
@media (max-width: 1200px) {
  .feedback-card {
    padding: 4rem 9rem;
  }
}
.feedback-card > * {
  -webkit-transform: skew(25deg);
      -ms-transform: skew(25deg);
          transform: skew(25deg);
}
.feedback-card__image {
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(50% at 50% 50%);
  margin-right: 4rem;
  overflow: hidden;
  position: relative;
}
.feedback-card__image img {
  width: 100%;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.feedback-card__name {
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.feedback-card:hover img {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-filter: blur(0.3rem) brightness(80%);
          filter: blur(0.3rem) brightness(80%);
}
.feedback-card:hover .feedback-card__name {
  opacity: 1;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bg-gradient {
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(4%, rgba(186, 133, 84, 0.7)), to(rgba(0, 0, 0, 0.7)));
  background: -o-linear-gradient(left, rgba(186, 133, 84, 0.7) 4%, rgba(0, 0, 0, 0.7) 100%);
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 4%, rgba(0, 0, 0, 0.7) 100%);
  z-index: -1;
  width: 100%;
  height: 100%;
}

.booking {
  padding: 5rem;
  background: -o-linear-gradient(350deg, rgba(255, 255, 255, 0.9) 60%, transparent 60%), url(../../img/booking-bg.jpg) center/cover no-repeat;
  background: linear-gradient(100deg, rgba(255, 255, 255, 0.9) 60%, transparent 60%), url(../../img/booking-bg.jpg) center/cover no-repeat;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.booking__form {
  width: 63%;
}

.form {
  padding-top: 10px;
}
.form__group:not(:last-child) {
  margin-bottom: 1.5rem;
}
.form__input {
  width: 80%;
  background: #FFFFFF;
  padding: 1.8rem 0 1.8rem 2.2rem;
  border: none;
  border-radius: 0.3rem;
  border-bottom: 0.3rem solid transparent;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  color: #777777;
  font-weight: 400;
  caret-color: #A14F03;
}
@media (max-width: 1200px) {
  .form__input {
    font-size: 1.4rem;
  }
}
.form__input:focus {
  border-bottom: 0.3rem solid #66D763;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  outline: none;
  color: #000000;
}
.form__input:focus:invalid {
  border-bottom: 0.3rem solid #D76363;
}
.form__label {
  display: block;
  padding-left: 1.5rem;
  letter-spacing: 0.2rem;
  color: #777777;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.form__input:-moz-placeholder-shown + .form__label {
  visibility: hidden;
  opacity: 0;
}
.form__input:-ms-input-placeholder + .form__label {
  visibility: hidden;
  opacity: 0;
}
.form__input:placeholder-shown + .form__label {
  visibility: hidden;
  opacity: 0;
}
.form__group-radio {
  display: inline-block;
  letter-spacing: 0.2rem;
}
.form__group-radio:not(:last-child) {
  margin-right: 2rem;
}
.form__input-radio {
  display: none;
}
.form__label-radio {
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.form__button-radio {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.4rem solid #BA8554;
  display: inline-block;
  position: relative;
  top: 0.8rem;
  margin-right: 1rem;
}
.form__button-radio::after {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #BA8554;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}
.form__input-radio:checked ~ .form__label-radio .form__button-radio::after {
  opacity: 1;
}

.section-about {
  padding: 8rem 0 0;
}

.section-adventure {
  padding: 19rem 0 11rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(4%, rgba(186, 133, 84, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../../img/adventure-bg.jpeg) center/cover no-repeat;
  background: -o-linear-gradient(left, rgba(186, 133, 84, 0.7) 4%, rgba(0, 0, 0, 0.7) 100%), url(../../img/adventure-bg.jpeg) center/cover no-repeat;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 4%, rgba(0, 0, 0, 0.7) 100%), url(../../img/adventure-bg.jpeg) center/cover no-repeat;
  -webkit-clip-path: polygon(0% 0%, 100% 15%, 100% 100%, 0% 85%);
          clip-path: polygon(0% 0%, 100% 15%, 100% 100%, 0% 85%);
}

.section-tour {
  padding: 8rem 0;
}

.section-feedback {
  padding: 8rem 0;
  position: relative;
}

.section-booking {
  padding: 8rem 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(4%, #BA8554), to(#A14F03));
  background: -o-linear-gradient(left, #BA8554 4%, #A14F03);
  background: linear-gradient(90deg, #BA8554 4%, #A14F03);
}