// Основные цвета сайта
$base-dark-color: #A14F03
$base-light-color: #BA8554

// Черный и белый цвета
$dark-color: #000000
$light-color: #FFFFFF

// Цвет шрифта
$font-color: #777777

// Цвет тени
$box-shadow: 0 4px 4px rgba($dark-color, 0.3)

$grid-width: 114rem
$gutter-horizontal: 6rem
$gutter-row-vertical: 8rem