// Основные цвета сайта
$base-dark-color: #A14F03
$base-light-color: #BA8554

// Черный и белый цвета
$dark-color: #000000
$light-color: #FFFFFF

// Градиент для фона
$bg-gradient: linear-gradient(90deg, rgba($base-light-color, 0.7) 4%, rgba($dark-color, 0.7) 100%)

// Цвета шрифта
$font-color: #777777
$font-gradient: linear-gradient(90deg, $base-light-color 4%, $base-dark-color)

// Цвет тени
$box-shadow: 0 4px 4px rgba($dark-color, .3)
$text-shadow: 0 4px 4px rgba($dark-color, .25)

// Сетка
$grid-width: 114rem
$gutter-horizontal: 6rem
$gutter-row-vertical: 8rem

// Размеры шрифтов
$font-size-h2: 3.6rem
$font-size-h3: 2rem
$font-size-paragraph: 1.6rem
