.section-about
  padding: 8rem 0 5rem

.section-adventure
  padding: 23rem 0
  background: linear-gradient(90deg, rgba($base-light-color, 0.7) 0%, rgba($dark-color, 0.7) 100%), url(../../img/adventure-bg.jpeg) center/cover no-repeat
  clip-path: polygon(0% 0%, 100% 15%, 100% 100%, 0% 85%)